@using EShop.DataLayer.Enum
@model EShop.Core.ViewModels.Cart.CheckOutPaymentVM
@{



    ViewBag.Title = "پاسخ بانک";


    Layout = "../Shared/_Layout.cshtml";
}
@section Meta
    {
    @await Html.PartialAsync("_noIndex")

}

    <!-- ---------- Info Pyment Page ---------- -->
    <div class="shop-cart">
        <div class="container">
            <div class="address-bar"><div class="box-overlay"></div>
                <ul class="box-address">
                    <li class="item">
                        <a class="trs-3" asp-controller="Home" asp-action="Index">
                            خانه
                            <i class="fal fa-chevron-left"></i>
                        </a>
                    </li>
                    @if (Model != null && Model.PaymentStatus == EnumPaymentStatus.Pay)
                {
                    <li class="item active">
                        <h1 class="trs-3">
                            پرداخت  موفق
                        </h1>
                    </li>
                }
                else
                {
                    <li class="item active">
                        <h1 class="trs-3">
                            پرداخت ناموفق
                        </h1>
                    </li>
                }


            </ul>
        </div>

        <div class="cart">
            <div class="row">
                <div class="col-12">
                    <div class="checkout-steps">
                        <ul class="steps f-parent">
                            <li class="item active">
                                <span class="text">
                                    سبد خرید
                                </span>
                                <span class="circle"></span>
                            </li>

                            <li class="item active">
                                ارسال اطلاعات
                                <span class="circle"></span>
                            </li>



                            <li class="item active">
                                اتمام خرید
                                <span class="circle"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-12 col-12">
                    <div class="pyment">
                        <div class="pyment-box">
                            @if (Model != null && Model.PaymentStatus == EnumPaymentStatus.Pay)
                            {
                                <div class="successful">
                                    <span class="icon">
                                        <i class="fal fa-check"></i>
                                    </span>

                                    <span class="text">
                                        <h5>
                                            سفارش با کد <a>@Model.OrderId</a> با موفقیت پرداخت شد
                                        </h5>
                                        @* <p>
                                    سفارش نهایتا تا 3 روز آماده ارسال خواهد شد
                                    </p>*@
                                    </span>
                                </div>
                                <div class="check-out-btn-container">
                                    <div class="payment-btn">
                                        <a class="trs-3" asp-area="User" asp-controller="Profile" asp-action="Orders">
                                            مشاهده سفارشات
                                        </a>
                                    </div>
                                    <span class="back">
                                        <a class="trs-3"  asp-controller="Home" asp-action="Index">
                                            برگشت به فروشگاه
                                        </a>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="successful failed">
                                    <span class="icon">
                                        <i class="fal fa-times"></i>
                                    </span>

                                    <span class="text">
                                        <h5>
                                             متاسفانه پرداخت ناموفق بود
                                        </h5>
                                        <p>
                                            @TempData.Peek("Message")
                                            <br />
                                            چنانچه مبلغی از حساب شما کسر شده است، تا ۲۴ ساعت آینده به حساب شما باز خواهد گشت.
                                        </p>
                                    </span>
                                </div>
                                <div class="check-out-btn-container">
                                    <div class="payment-btn">
                                        <a class="trs-3" asp-area="User" asp-controller="Profile" asp-action="Orders">
                                            مشاهده سفارشات
                                        </a>
                                    </div>
                                    <span class="back">
                                        <a class="trs-3"  asp-controller="Home" asp-action="Index">
                                            برگشت به فروشگاه
                                        </a>
                                    </span>
                                </div>
                            }


                            @*<div class="order-summary">
                            <ul class="summary-box">
                            <li class="item">
                            <span class="label">
                            تعداد مرسولات
                            </span>
                            <span class="value">
                            12 محصول
                            </span>
                            </li>

                            <li class="item">
                            <span class="label">
                            روش ارسال
                            </span>
                            <span class="value">
                            از طریق پست پیشتاز
                            </span>
                            </li>

                            <li class="item">
                            <span class="label">
                            زمان ارسال
                            </span>
                            <span class="value">
                            3 روز کاری
                            </span>
                            </li>

                            <li class="item">
                            <span class="label">
                            هزینه ارسال
                            </span>
                            <span class="value">
                            000
                            </span>
                            </li>

                            <li class="item">
                            <span class="label">
                            آدرس
                            </span>
                            <span class="value">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </span>
                            </li>
                            </ul>
                            </div>*@
                        </div>
                    </div>
                </div>

                @*<div class="col-lg-4 col-12">
                    <div class="price-cart">
                        <div class="title">
                            <h6>
                                هزینه سفارشات
                            </h6>
                        </div>

                        <div class="info">
                            <div class="price">




                                <div class="total f-parent">
                                    <span class="label">
                                        شماره سفارش
                                    </span>
                                    <span class="value">
                                        @Model.OrderId
                                    </span>
                                </div>
                                <div class="total f-parent">
                                    <span class="label">
                                        شماره پیگیری
                                    </span>
                                    <span class="value">
                                        @Model.SaleReferenceId
                                    </span>
                                </div>

                                <div class="shipping f-parent">
                                    <span class="label">
                                        تاریخ
                                    </span>
                                    <span class="value">
                                        @Model.PrDatePay
                                    </span>
                                </div>
                                <div class="subtotal f-parent">
                                    <span class="label">
                                        قیمت کل
                                    </span>
                                    <span class="value">
                                        @{
                                            var price = Model.Price / 10;
                                        }
                                        @price.ToString("N0")
                                        <span>  تومان  </span>
                                    </span>
                                </div>
                            </div>
                        @if (Model != null && Model.PaymentStatus == EnumPaymentStatus.Pay)
                        {
                            <div class="payment-btn">
                                <a class="trs-3" asp-area="User" asp-controller="Profile" asp-action="Orders">
                                    مشاهده سفارشات
                                </a>
                            </div>
                            <span class="back">
                                <a class="trs-3"  asp-controller="Home" asp-action="Index">
                                    برگشت به فروشگاه
                                </a>
                            </span>
                        }
                        else
                        {
                            <div class="payment-btn">
                                <a class="trs-3" >
                                    پرداخت انجام نشد
                                </a>
                            </div>
                            <span class="back">
                                <a class="trs-3"  asp-controller="Home" asp-action="Index">
                                    برگشت به فروشگاه
                                </a>
                            </span>
                        }
                        </div>

                        <div class="services">
                            <ul class="services-box">
                                <li class="item">
                                    <i class="fal fa-undo"></i> هفت روز ضمانت بازگشت کالا
                                </li>
                                <li class="item">
                                    <i class="fal fa-shield-check"></i> ﺿﻤﺎﻧﺖ اﺻﻞ ﺑﻮدن ﮐﺎﻟﺎ
                                </li>
                                <li class="item">
                                    <i class="fal fa-phone"></i> شماره پشتیبانی 021-0000000
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>*@

            </div>
        </div>
    </div>
</div>



<!-- ---------- Banner Ads ---------- -->
@await Component.InvokeAsync("OtherPageBannerComponent")


<!-- ---------- Popular Products ---------- -->
@await Component.InvokeAsync("OtherPageProductDiscountComponent")



