@using EShop.Core.Helpers
@using EShop.DataLayer.Enum
@model IEnumerable<EShop.DataLayer.Entities.User.User>

@{
    Layout = null;
    int pagecount = (int)Math.Ceiling((double)ViewBag.count / 25);
    int pagenumber = ViewBag.PageNumber;
}

    @if (Model.Any())
                        {




                            <table class="table font-size-10  table-condensed  table-striped table-bordered table-responsive-sm table-configuration">
                                <thead>
                                    <tr>
                                        <th>              
                                            @Html.DisplayNameFor(model => model.Id)
                                        </th>
                                        <th>              
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th> 
                                        <th>              
                                            @Html.DisplayNameFor(model => model.Phone)
                                        </th>
                                        <th>              
                                            @Html.DisplayNameFor(model => model.NatioalCode)
                                        </th>
                                        
                                        <th>              
                                        </th>
                                        
                                         
                                   
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        

                                         <tr  >
                                             <td>@item.Id</td>
                                            <td>@item.FullName</td>
                                             <td>@item.Phone</td>
                                            <td>@item.NatioalCode</td>
                                             <td>
                                                 <a  asp-controller="Customer" asp-action="EditCustomer"  class="btn btn-info btn-sm" asp-route-id="@item.Id">ویرایش</a>
                                                 </td>

                                        
                                           
                                            
                                        </tr>

                                         




                                    }
                                </tbody>
                            </table>

                        }
<div class="col-12 text-center" id="productlist">
    @(pagecount > 1 ? Html.Raw(pagecount.GetPaging(pagenumber, "js-pager-item")) : Html.Raw(""))

</div>


<script>
    $('#productlist').delegate(".js-pager-item", "click", function () {
        var pagenum = parseInt($(this).data("pagenumber"));
        $.ajax({
            type: 'GET',

            url: '/Customer/ListCustomerForEdit',
            data: { Name: '', CodeMeli: '', Phone: '', pagenumber: pagenum },
            success: function (res) {
                $("#list").html(res);
            }
        });
    });

</script>
