@using EShop.Core.ViewModels.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BasePageWithFilterViewModel
@{
    Layout = null;
}


<div class="shop-archive-sidebar filter-panel">
    <div class="sidebar-archive mb-3">


        <section class="widget-product-categories  js-filter_box  d-none">
            <header class="cat-header">

                <h2 class="mb-0">
                    <button class="btn btn-block text-right" data-toggle="collapse" href="#headingOne" role="button" aria-expanded="false" aria-controls="headingOne">
                        فیلتر ها :
                        <i class="mdi mdi-chevron-down"></i>
                    </button>
                </h2>
            </header>
            <div class="product-filter">
                <div class="card">
                    <div class="collapse show" id="headingOne">
                        <div class="card-main mb-0 c-box_item">
                            <ul class="c-box_cat-list js-filters">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="widget-product-categories ">
            <div class="available-stock-switch">
                <label>نمایش کالا های موجود</label>
                <label class="available-switch">
                    <input class="available-stock-only" type="checkbox" />
                    <span class="available-switch-slider round"></span>
                </label>
            </div>
        </div>
        <div class="widget-product-categories ">
            <div class="available-discounted-switch">
                <label>نمایش کالا های تخفیف دار</label>
                <label class="discounted-switch">
                    <input class="available-discounted-only" type="checkbox" />
                    <span class="available-switch-slider round"></span>
                </label>
            </div>
        </div>

        @if (Model.SideBarData.Categories.Count > 0)
        {
            <section class="widget-product-categories">
                <header class="cat-header">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-right" data-toggle="collapse" href="#headingCategory" role="button" aria-expanded="false" aria-controls="headingCategory">
                            دسته بندی محصولات
                            <i class="mdi mdi-chevron-down"></i>
                        </button>
                    </h2>
                </header>
                <div class="product-filter">
                    <div class="card">
                        <div class="collapse  " id="headingCategory">
                            <div class="card-main mb-0">
                                @foreach (var item in Model.SideBarData.Categories as List<MainCategoryFilterItem>)
                                {

                                    <span class='c-box_cat-span '>
                                        <a 
                                   class='c-box_cat-link c-box-parent'>
                                          <div class='form-auth-row row-option-filter'>
                                              <label for="#" class="ui-checkbox js-filter_label" data-en='@item.EnglishTitle.ToUrlFormat()'
                                                     data-type="catId" data-id="@item.Id" data-fa="@item.PersianTitle" for="catId @item.Id">
                                                  <input class="js-filter_checkbox" type="checkbox" data-fa="@item.PersianTitle"
                                                         data-type="catId" data-id="@item.Id" id="catId @item.Id">
                                                  <span class="ui-checkbox-check"></span>
                                                  </label>
                                              <label style="font-weight: bold;" for="remember" class="remember-me">
                                                  @item.PersianTitle
                                                  </label>
                                              </div>
                                          
                                                <i class="mdi mdi-chevron-down"></i>
                                        </a>
                                    </span>
                                    @if (item.SubCategory is not null && item.SubCategory.Count > 0)
                                    {
                                        @foreach (var subcategory in item.SubCategory)
                                        {
                                            <div class='form-auth-row row-option-filter'>
                                                <label for="#" class="ui-checkbox js-filter_label" data-en='@subcategory.EnglishTitle.ToUrlFormat()'
                                       data-type="catId" data-id="@subcategory.Id" data-fa="@subcategory.PersianTitle" for="catId @subcategory.Id">
                                                    <input class="js-filter_checkbox" type="checkbox" data-fa="@subcategory.PersianTitle"
                                           data-type="catId" data-id="@subcategory.Id" id="catId @subcategory.Id">
                                                    <span class="ui-checkbox-check"></span>
                                                </label>
                                                <label for="remember" class="remember-me">
                                                    @subcategory.PersianTitle
                                                </label>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </section>


        }

        @if (Model.SideBarData.Brands != null && Model.SideBarData.Brands.Count != 0)
        {
            <section class="widget-product-categories">
                <header class="cat-header">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-right" data-toggle="collapse" href="#headingTwo" role="button" aria-expanded="false" aria-controls="headingTwo">
                            برند ها
                            <i class="mdi mdi-chevron-down"></i>
                        </button>
                    </h2>
                </header>
                <div class="product-filter">
                    <div class="card">
                        <div class="collapse  " id="headingTwo">
                            <div class="card-main mb-0">

                                @foreach (var item in Model.SideBarData.Brands as List<BrandFilterItem>)
                                {

                                    <div class="form-auth-row row-option-filter">
                                        <label for="#" class="ui-checkbox js-filter_label" data-en='@item.EnglishTitle'
                                       data-type="brand" data-id="@item.Id" data-fa="@item.PersianTitle" for="brand @item.Id">
                                            <input class="js-filter_checkbox" type="checkbox" data-fa="@item.PersianTitle" data-type="brand" data-id="@item.Id" id="brand @item.Id">
                                            <span class="ui-checkbox-check"></span>
                                        </label>
                                        <label for="remember" class="remember-me">
                                            @item.PersianTitle - @item.EnglishTitle
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        }



        @if (@Model.SideBarData.MaxPrice > 0)
        {

            <section class="widget-product-categories">
                <header class="cat-header">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-right collapsed" data-toggle="collapse" href="#headingThree" role="button" aria-expanded="false" aria-controls="headingThree">
                            محدوده قیمت
                            <i class="mdi mdi-chevron-down"></i>
                        </button>
                    </h2>
                </header>
                <div class="product-filter">
                    <div class="card">
                        <div class="collapse show" id="headingThree">
                            <div class="card-main mb-0">
                                <div class="c-box">
                                    <div class="c-filter">
                                        <div class="c-box_filter-slider">
                                            <div class="rangeSlider-desktop"></div>
                                        </div>

                                        <ul class="c-filter_range">
                                            <li data-label="از" data-currency="تومان">
                                                <input type="text" id="min_price_value" class="js-slider_range-from" data-range="@Model.SideBarData.MinPrice.Value"
                                                   data-value="@Model.SideBarData.MinPrice.Value" value="@Model.SideBarData.MinPrice.Value" disabled="disabled">
                                            </li>

                                            <li data-label="تا" data-currency="تومان">
                                                <input type="text" id="max_price_value" class="js-slider_range-to" data-range="@Model.SideBarData.MaxPrice.Value"
                                                   data-value="@Model.SideBarData.MaxPrice.Value" value="@Model.SideBarData.MaxPrice.Value" disabled="disabled">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }


    </div>
</div>


<script src="~/js/vendor/jquery-3.6.0.min.js"></script>
<script>
    var searchmax_price =@(Model.SideBarData.MaxPrice!=null && Model.SideBarData.MaxPrice > 0 ? Model.SideBarData.MaxPrice : 0)

        $(document).ready(function () {
            $('.js-filter_checkbox_categorypage').prop('checked', false);
            tofaprice();
            init_search_category_page(searchmax_price);
    })
</script>