
@using EShop.DataLayer.Enum
@model EShop.Core.ViewModels.SiteSettingViewModel

@{
    ViewData["Title"] = "ویرایش";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Styles
{
    <link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title mb-0">تنظیمات کلی سایت پلاس</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form" asp-action="Edit" enctype="multipart/form-data">
                        <div class="form-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="TopImageBannerWeb" type="hidden" />
                            <input asp-for="TopImageBannerMobile" type="hidden" />
                            <input asp-for="SearchBg" type="hidden" />
                            <input asp-for="ShowApIpg" type="hidden" />
                            <input asp-for="ShowKishIpg" type="hidden" />
                            <input asp-for="ShowMelatIpg" type="hidden" />
                            <input asp-for="ShowZarinPalIpg" type="hidden" />
							<div class="row">


								<div class="  col-md-12 ">
									<h6>هدر</h6>

								</div>

                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                <fieldset class="form-group">
                                    <img class="img-fluid" src="https://media.farnaa.com/media/@Model.SearchBg" />
                                    <label asp-for="SearchBg" class="control-label"></label>
                                    <input asp-for="ImageFormFileSearchBg" type="file" class="form-control" />
											<span asp-validation-for="ImageFormFileSearchBg" class="text-danger"></span>
                                </fieldset>
                            </div>
								<div class="  col-md-12 ">
									<h6>بنر بالای سایت وب</h6>

								</div>

								<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="TopImageBannerWebTitle" class="control-label"></label>
										<input asp-for="TopImageBannerWebTitle" class="form-control" />
										<span asp-validation-for="TopImageBannerWebTitle" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="TopImageBannerWebUrl" class="control-label"></label>
										<input asp-for="TopImageBannerWebUrl" class="form-control" />
										<span asp-validation-for="TopImageBannerWebUrl" class="text-danger"></span>
									</fieldset>
								</div>


								<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
									<fieldset class="form-group">
										<img class="img-fluid" src="https://media.farnaa.com/media/@Model.TopImageBannerWeb" />
										<label asp-for="TopImageBannerWeb" class="control-label"></label>
										<input asp-for="ImageFormFileWeb" type="file" class="form-control" />
										<span asp-validation-for="ImageFormFileWeb" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label>
											<input asp-for="ShowTopImageBannerWeb" /> @Html.DisplayNameFor(model => model.ShowTopImageBannerWeb)
										</label>
									</fieldset>
								</div>
								<hr />
								<div class="  col-md-12 ">
									<h6>بنر بالای سایت موبایل</h6>

								</div>
								<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="TopImageBannerMobileTitle" class="control-label"></label>
										<input asp-for="TopImageBannerMobileTitle" class="form-control" />
										<span asp-validation-for="TopImageBannerMobileTitle" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="TopImageBannerMobileUrl" class="control-label"></label>
										<input asp-for="TopImageBannerMobileUrl" class="form-control" />
										<span asp-validation-for="TopImageBannerMobileUrl" class="text-danger"></span>
									</fieldset>
								</div>


								<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
									<fieldset class="form-group">
										<img class="img-fluid" src="https://media.farnaa.com/media/@Model.TopImageBannerMobile" />

										<label asp-for="TopImageBannerMobile" class="control-label"></label>
										<input asp-for="ImageFormFileMobile" type="file" class="form-control" />
										<span asp-validation-for="ImageFormFileMobile" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label>
											<input asp-for="ShowTopImageBannerMobile" /> @Html.DisplayNameFor(model => model.ShowTopImageBannerWeb)
										</label>
									</fieldset>
								</div>
								<hr />
								<div class="  col-md-12 ">
									<h6>صفحه اصلی</h6>

								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="MetaTitle" class="control-label"></label>
										<textarea class="form-control" asp-for="MetaTitle" rows="3"></textarea>
										<span asp-validation-for="MetaTitle" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="MetaDescription" class="control-label"></label>
										<textarea class="form-control" asp-for="MetaDescription" rows="3"></textarea>
										<span asp-validation-for="MetaDescription" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="MetaKeywords" class="control-label"></label>
										<textarea class="form-control" asp-for="MetaKeywords" rows="3"></textarea>
										<span asp-validation-for="MetaKeywords" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="Canonical" class="control-label"></label>
										<textarea class="form-control" asp-for="Canonical" rows="3"></textarea>
										<span asp-validation-for="Canonical" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="HeaderTag" class="control-label"></label>
										<textarea class="form-control" asp-for="HeaderTag" rows="3"></textarea>
										<span asp-validation-for="HeaderTag" class="text-danger"></span>
									</fieldset>
								</div>   <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="Schema" class="control-label"></label>
										<textarea class="form-control" asp-for="Schema" rows="3"></textarea>
										<span asp-validation-for="Schema" class="text-danger"></span>
									</fieldset>
								</div><div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="HomeText" class="control-label"></label>
										<textarea class="form-control cke_rtl" asp-for="HomeText" rows="3"></textarea>
										<span asp-validation-for="HomeText" class="text-danger"></span>
									</fieldset>
								</div>
								
								 
								@*<div class="  col-md-12 ">
									<h6>صفحه اصلی بلاگ</h6>

								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="BlogMetaTitle" class="control-label"></label>
										<textarea class="form-control" asp-for="BlogMetaTitle" rows="3"></textarea>
										<span asp-validation-for="BlogMetaTitle" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="BlogMetaDescription" class="control-label"></label>
										<textarea class="form-control" asp-for="BlogMetaDescription" rows="3"></textarea>
										<span asp-validation-for="BlogMetaDescription" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="BlogMetaKeywords" class="control-label"></label>
										<textarea class="form-control" asp-for="BlogMetaKeywords" rows="3"></textarea>
										<span asp-validation-for="BlogMetaKeywords" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="BlogCanonical" class="control-label"></label>
										<textarea class="form-control" asp-for="BlogCanonical" rows="3"></textarea>
										<span asp-validation-for="BlogCanonical" class="text-danger"></span>
									</fieldset>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="BlogHeaderTag" class="control-label"></label>
										<textarea class="form-control" asp-for="BlogHeaderTag" rows="3"></textarea>
										<span asp-validation-for="BlogHeaderTag" class="text-danger"></span>
									</fieldset>
								</div>   <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
									<fieldset class="form-group">
										<label asp-for="BlogSchema" class="control-label"></label>
										<textarea class="form-control" asp-for="BlogSchema" rows="3"></textarea>
										<span asp-validation-for="BlogSchema" class="text-danger"></span>
									</fieldset>
								</div>*@
								
                                <hr />
                                <div class="  col-md-12 ">
                                    <h6>پرداخت</h6>

                                </div>
								
                                <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                    <fieldset class="form-group">
											<label asp-for="DefaultIpg" class="control-label"></label>
											<select asp-for="DefaultIpg"
												asp-items="Html.GetEnumSelectList<EnumDefaultIpgPlus>()"
                                                class="form-control">
											</select>
											<span asp-validation-for="DefaultIpg" class="text-danger"></span>
                                    </fieldset>
                                </div>

									@*<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
										<fieldset class="form-group">
											<label>
												<input asp-for="ShowMelatIpg" /> @Html.DisplayNameFor(model => model.ShowMelatIpg)
											</label>
										</fieldset>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
										<fieldset class="form-group">
											<label>
												<input asp-for="ShowApIpg" /> @Html.DisplayNameFor(model => model.ShowApIpg)
											</label>
										</fieldset>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
										<fieldset class="form-group">
											<label>
												<input asp-for="ShowKishIpg" /> @Html.DisplayNameFor(model => model.ShowKishIpg)
											</label>
										</fieldset>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
										<fieldset class="form-group">
											<label>
												<input asp-for="ShowZarinPalIpg" /> @Html.DisplayNameFor(model => model.ShowZarinPalIpg)
											</label>
										</fieldset>
									</div>*@
									<div class="col-xl-6 col-lg-6 col-md-12 mb-1">
										<fieldset class="form-group">
											<label>
												<input asp-for="ShowMeliIpg" /> @Html.DisplayNameFor(model => model.ShowMeliIpg)
											</label>
										</fieldset>
									</div>
							</div>
                        </div>
                        <div class="form-actions">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary mr-1">
                                    ثبت
                                    <i class="ft-thumbs-up position-right"></i>
                                </button>
                            

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
	 <script src="~/lib/ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace("HomeText");
        </script>
}

