@using EShop.Core.ViewModels.Category
@using EShop.Core.ViewModels.Product
@using EShop.DataLayer.Entities.Category
@using EShop.DataLayer.Entities.Brand
@using EShop.Core.ExtensionMethods
@using EShop.Core.ViewModels.Seo
@using Microsoft.AspNetCore.Http.Extensions
@model ProductSearchWithFilterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageStructure = ViewData["pageStructure"] as PageStructureViewModel;
    if (pageStructure == null)
        pageStructure = new PageStructureViewModel();
}

@section Meta{
    <title> @pageStructure.MetaTitle </title>
    @*<meta name="og:title" content="@pageStructure.OgTitle"/>*@

    <meta property="og:title" content="@pageStructure.MetaTitle">
    <meta property="og:description" content="@pageStructure.MetaDescription">
    <meta property="og:url" content="@Context.Request.GetDisplayUrl()">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://farnaa.com/images/logo.png">
    <meta property="og:image:alt" content="@pageStructure.MetaTitle">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">
    <meta property="og:site_name" content="فروشگاه آنلاین فرنا">
    <link rel="canonical" href="@Context.Request.GetDisplayUrl()">

    @Html.Raw(Model.FAQSchema)
    @Html.Raw(pageStructure.Schema)
    <meta name="description" content="@pageStructure.MetaDescription" />

}
@section Style{

<link rel="stylesheet" href="/css/vendor/noUISlider.min.css">

}
<div class="d-block">
    @await Html.PartialAsync("InnerSubCategory", Model)

</div>

@if (!String.IsNullOrEmpty(pageStructure.Text))
{
    <div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block block p-0 main-cat-text">
        <section class="content-expert-summary">
            <div class="mask pm-3">
                <div class="mask-text">
                    <p>
                        @Html.Raw((ViewData["pageStructure"] as PageStructureViewModel).Text)
                    </p>
                </div>
                <a href="#" class="mask-handler">
                    <span class="show-more">+ ادامه مطلب</span>
                    <span class="show-less">- بستن</span>
                </a>
                <div class="shadow-box"></div>
            </div>
        </section>
    </div>
}

@section Scripts{



<script src="/js/vendor/ResizeSensor.min.js"></script>
<script src="/js/vendor/theia-sticky-sidebar.min.js"></script>
<script src="/js/vendor/wNumb.js"></script>
<script src="/js/vendor/nouislider.min.js"></script>

<script src="/js/user-main.js"></script>
<script src="~/js/filter-on-products.js"></script>


<script>
    $('html,body').animate({ scrollTop: 0 }, 500);

    search_page();
    searchajaxload()



</script>


}