@model EShop.Core.ViewModels.IndexMainMetaViewModel

<title>@(Model.MetaTitle ?? ViewData["Title"])</title>

@*<meta name="title" content="@Model.MetaTitle">*@

@if (Model.MetaDescription != null)
{
    <meta name="description" content="@(Model.MetaDescription)">
}
@if (Model.MetaKeywords != null)
{
    <meta name="keywords" content="@Model.MetaKeywords">

} 
@if (Model.Canonical != null)
{
    <link rel="canonical" href="@Model.Canonical">

}
@Html.Raw(Model.BaseSchema)

@Html.Raw(Model.HeaderTag)
@Html.Raw(Model.Schema)