@model Tuple<List<EShop.Core.ViewModels.Product.SearchPageViewModel>,  Category, int?, int, int>
@using EShop.Core.ViewModels.Product
@using EShop.DataLayer.Entities.Brand
@using  EShop.DataLayer.Entities.Category
@{ Layout = null;}
<style>.modal-backdrop.show {
    
     display: none !important;
 }</style>
<div class="page-content page-row" id="searchupdate">

<h1 class="page-title">دسته بندی @Model.Item2.FaTitle</h1>

    <!-- start sidebar--------------------->
        <div class="col-lg-3 col-md-4 col-xs-12 pr sticky-position desktop-show">
              <div class="main-row p-1">
                        <div id="breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">خانه</a></li>
                        @if (Model.Item2.SubCategory != null)
                        {
                            if(Model.Item2.SubCategory.FirstOrDefault().ParentCategory!=null)
                          { 
                              <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action( "MainCategory", "category",new {title=Model.Item2.SubCategory.FirstOrDefault().ParentCategory.EnTitle.ToUrlFormat()} )"> @Model.Item2.SubCategory.FirstOrDefault().ParentCategory.FaTitle </a></li>
                          }
                                                     <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("SubCategory", "category",new {categoryName=Model.Item2.SubCategory.FirstOrDefault().ParentCategory.EnTitle,title=Model.Item2.EnTitle.ToUrlFormat()})"> @Model.Item2.FaTitle </a></li>

                        }
                    </ol>
                            </nav>
                        </div>
                    </div>
        <div class="shop-archive-sidebar filter-panel">
            <div class="sidebar-archive mb-3">

             
                <section class="widget-product-categories  js-filter_box d-none">
                    <header class="cat-header">

                        <h2 class="mb-0">
                            <button class="btn btn-block text-right" data-toggle="collapse" href="#headingOne" role="button" aria-expanded="false" aria-controls="headingOne">
                                فیلتر ها :
                                <i class="mdi mdi-chevron-down"></i>
                            </button>
                        </h2>
                    </header>
                    <div class="product-filter">
                        <div class="card">
                            <div class="collapse show" id="headingOne">
                                <div class="card-main mb-0 c-box_item">
                                    <ul class="c-box_cat-list js-filters">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>  <section class="widget-product-categories">
                    <header class="cat-header">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-right" data-toggle="collapse" href="#headingOne5" role="button" aria-expanded="false" aria-controls="headingOne5">
                                دسته بندی محصولات
                                <i class="mdi mdi-chevron-down"></i>
                            </button>
                        </h2>
                    </header>
                    <div class="product-filter">
                        <div class="card">
                            <div class="collapse show" id="headingOne5">
                                <div class="card-main mb-0 c-box_item">
                                    <ul class="c-box_cat-list">
                                        @Html.Raw(ViewData["category"])

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



                @if (ViewData["brand"] != null)
                {
                    <section class="widget-product-categories">
                        <header class="cat-header">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-right" data-toggle="collapse" href="#headingTwo" role="button" aria-expanded="false" aria-controls="headingTwo">
                                    برند ها
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                            </h2>
                        </header>
                        <div class="product-filter">
                            <div class="card">
                                <div class="collapse  " id="headingTwo">
                                    <div class="card-main mb-0">

                                        @foreach (var item in ViewData["brand"] as List<Brand>)
                                        {
                                           
                                            <div class="form-auth-row row-option-filter">
                                                <label for="#" class="ui-checkbox js-filter_label" data-en='@item.EnTitle' data-type="brand" data-id="@item.Id" data-fa="@item.FaTitle" for="brand @item.Id">
                                                    <input class="js-filter_checkbox" type="checkbox" data-type="brand" data-id="@item.Id" id="brand @item.Id">
                                                    <span class="ui-checkbox-check"></span>
                                                </label>
                                                <label for="remember" class="remember-me">                                                    @item.FaTitle - @item.EnTitle </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                }
             


                @if (@Model.Item3 > 0)
{

<section class="widget-product-categories">
    <header class="cat-header">
        <h2 class="mb-0">
            <button class="btn btn-block text-right collapsed" data-toggle="collapse" href="#headingThree" role="button" aria-expanded="false" aria-controls="headingThree">
                محدوده قیمت
                <i class="mdi mdi-chevron-down"></i>
            </button>
        </h2>
    </header>
    <div class="product-filter">
        <div class="card">
            <div class="collapse show" id="headingThree">
                <div class="card-main mb-0">
                    <div class="c-box">
                        <div class="c-filter">
                            <div class="c-box_filter-slider">
                                <div class="rangeSlider-desktop"></div>
                            </div>

                            <ul class="c-filter_range">
                                <li data-label="از" data-currency="تومان">
                                    <input type="text" class="js-slider_range-from" data-range="0" value="0" data-value="0" disabled="disabled">
                                </li>

                                <li data-label="تا" data-currency="تومان">
                                    <input type="text" class="js-slider_range-to" data-range="@Model.Item3" data-value="@Model.Item3" value="@Model.Item3" disabled="disabled">
                                </li>
                            </ul>

                            <div class="c-filter_action">
                                <button class="c-filter_price-btn  js-filter_price-btn disabled">اعمال محدوده قیمت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}


            </div>
        </div>
    </div>



    <div class="col-lg-9 col-md-8 col-xs-12 pl desktop-show">
        <div class="shop-archive-content mt-3 d-block">
            @if (Model.Item1.Any())
            {
                <div class="archive-header">
                    <div class="sort-tabs mt-0 d-inline-block pr">
                        <h4>مرتب‌سازی بر اساس :</h4>
                    </div>
                    <div class="nav-sort-tabs-res">
                        <ul class="nav sort-tabs-options" id="myTab" role="tablist">
                            <li class="nav-item  nav-item-sort  sort-active " data-id="1" data-type="sort">
                                گران‌ترین
                            </li>
                            <li class="nav-item nav-item-sort   " data-id="2" data-type="sort">
                                ارزان‌ترین
                            </li>
                            <li class="nav-item nav-item-sort   " data-id="3" data-type="sort">
                                جدیدترین
                            </li>
                            <li class="nav-item nav-item-sort   " data-id="4" data-type="sort">
                                پرفروش‌ترین
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="product-items">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Most-visited" role="tabpanel" aria-labelledby="Most-visited-tab">
                            <div class="row js-search_page-left m-0">
                                @if (Model.Item1.Count > 0)
                                {





                                    @foreach (var item in Model.Item1)
                                    {


                                        <div class="col-lg-3 col-md-4 col-xs-12 order-1 d-block m-0 p-0">
                                            <meta name="product_id" content="@item.ProductId">
                                            <meta name="product_name" content="@item.FaTitle">
                                            <meta name="guarantee" content="@item.GuranateeTitle">
                                            <meta property="og:image" content="https://media.farnaa.com/media/@item.Img">
                                            @if (item.MainPrice > 0)
                                            {
                                                <meta name="product_price" content="@item.PromotionPrice">
                                                <meta name="product_old_price" content="@item.MainPrice">
                                                <meta name="availability" content="instock">
                                            }
                                            else
                                            {
                                                <meta name="availability" content="outofstock">

                                            }
                                            <section class="product-box product product-type-simple">
                                                @if (item.MainPrice > 0)
                                                {
                                                    if (item.PromotionPrice != item.MainPrice)
                                                    {
                                                        decimal disPrice = (decimal) (item.MainPrice - item.PromotionPrice);
                                                        var disPercent = Math.Ceiling( (decimal) (disPrice * 100 / item.MainPrice));
                                                        <div class=" item-descount-filter">

                                                            <span class="text-dark font-weight-bold"> </span>
                                                            @if (disPrice != null)
                                                            {
                                                                @disPercent
                                                                <span> % </span>
                                                            }


                                                        </div>

                                                    }
                                                }
                                                <div class="thumb p-3">
                                                    <a asp-action="Index" asp-controller="product"  asp-route-category="@item.CategoryProduct" asp-route-id="@item.ProductId" asp-route-name="@item.EnTitle.ToUrlFormat()" class="d-block">

                                                        <img width="600" height="600" src="https://media.farnaa.com/media/@item.Img">
                                                    </a>
                                                </div>
                                                <div class="title">
                                                    <a asp-action="Index" asp-controller="product" asp-route-category="@item.CategoryProduct" asp-route-id="@item.ProductId" asp-route-name="@item.EnTitle.ToUrlFormat()">@item.FaTitle</a>
                                                </div>
                                                <div class="price">
                                                    @if (item.MainPrice > 0)
                                                    {
                                                        if (item.PromotionPrice != item.MainPrice)
                                                        {
                                                            var disPrice = item.MainPrice - item.PromotionPrice;

                                                            <div class="col-6 pr p-1">
                                                                <del><span>@item.MainPrice.Value.ToString("N0")<span>  تومان  </span></span></del>
                                                            </div>
                                                            <div class="col-6 pl p-1">
                                                                <ins>
                                                                    <span>
                                                                        @if (item.PromotionPrice != null)
                                                                        {
                                                                            @item.PromotionPrice.Value.ToString("N0")
                                                                        }
                                                                        <span>  تومان  </span>
                                                                    </span>
                                                                </ins>

                                                            </div>

                                                        }
                                                        else
                                                        {
                                                            <div class="col-12  p-1">
                                                                <ins><span>@item.MainPrice.Value.ToString("N0")<span>  تومان  </span></span></ins>
                                                            </div>

                                                        }

                                                    }
                                                    else
                                                    {
                                                        <div class="  col-12 p-1">
                                                            <ins>-- ناموجود --</ins>
                                                        </div>
                                                    }
                                                </div>
                                      
                                            </section>

                                        </div>



                                    }




                                }



                            </div>
                        </div>

                    </div>
                </div>
                <div class="pagination-product">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                        
                            @for (int i = 1; i <= Model.Item4; i++)
                            {
                                <li class="page-item">
                                    <a class="page-link  js-product-pager @(i == Model.Item5 ? "active" : "")" data-type="page" data-id="@i">@i</a>
                                </li>
                            }



                        </ul>
                    </nav>
                </div>
            }
            else
            {
                <div class="no-result-container">
                    <h6><i class="fa fa-warning"></i>نتیجه‌ای یافت نشد!
                    </h6>
                    <p>هیچ محصولی با این فیلتر موجود نیست
                    </p>
                </div>
            }

        </div>
    </div>
    <div class="col-lg-12  mobile-show clear">
        <div class="shop-archive-content mt-3 d-block">
            @if (Model.Item1.Any())
            {
                <div class="archive-header">
                    <div class="main-row p-1">
                        <div id="breadcrumb">
                              <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">خانه</a></li>
                        @if (Model.Item2.SubCategory != null)
                        {
                            if(Model.Item2.SubCategory.FirstOrDefault().ParentCategory!=null)
                          { 
                              <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action( "MainCategory", "category",new {title=Model.Item2.SubCategory.FirstOrDefault().ParentCategory.EnTitle} )"> @Model.Item2.SubCategory.FirstOrDefault().ParentCategory.FaTitle </a></li>
                          }
                                                     <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("SubCategory", "category",new {categoryName=Model.Item2.SubCategory.FirstOrDefault().ParentCategory.EnTitle,title=Model.Item2.EnTitle})"> @Model.Item2.FaTitle </a></li>

                        }
                    </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6 text-center">
                            <button class="btn-filter-mobile-wiew" data-toggle="modal" data-target="#FilterModal"> <i class="fa fa-filter"></i>فیلتر کردن</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn-filter-mobile-wiew" data-toggle="modal" data-target="#SortModal"> <i class="fa fa-sort-amount-desc"></i>مرتب سازی</button>
                        </div>

                    </div>
                </div>
                <div class="product-items">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Most-visited" role="tabpanel" aria-labelledby="Most-visited-tab">
                            <div class="row js-search_page-left m-0">
                                @if (Model.Item1.Count > 0)
                                {





                                    @foreach (var item in Model.Item1)
                                    {


                                        <div class="col-lg-12 order-1 d-block m-0 p-0">
                                            <meta name="product_id" content="@item.ProductId">
                                            <meta name="product_name" content="@item.FaTitle">
                                            <meta name="guarantee" content="@item.GuranateeTitle">
                                            <meta property="og:image" content="https://media.farnaa.com/media/@item.Img">
                                            @if (item.MainPrice > 0)
                                            {
                                                <meta name="product_price" content="@item.PromotionPrice">
                                                <meta name="product_old_price" content="@item.MainPrice">
                                                <meta name="availability" content="instock">
                                            }
                                            else
                                            {
                                                <meta name="availability" content="outofstock">

                                            }
                                            <section class="product-box product product-type-simple d-flex mb-3 product-mobile-view">
                                                @if (item.MainPrice > 0)
                                                {
                                                    if (item.PromotionPrice != item.MainPrice)
                                                    {<div class="  item-descount-filter">

                                                            @{
                                                                decimal disPrice = (decimal) (item.MainPrice - item.PromotionPrice);
                                                                var disPercent = Math.Ceiling( (decimal) (disPrice * 100 / item.MainPrice));

                                                            }

                                                            <span class="  font-weight-bold">  </span>
                                                            @if (disPrice != null)
                                                            {
                                                                @disPercent <span>%</span>
                                                            }
                                                        </div>
                                                    }


                                                }

                                                <div class="thumb p-3">
                                                    <a asp-action="Index" asp-controller="product" asp-route-id="@item.ProductId" asp-route-category="@item.CategoryProduct.ToUrlFormat()" asp-route-name="@item.EnTitle.Replace(" ","-")" class="d-block">

                                                        <img width="600" height="600" src="https://media.farnaa.com/media/@item.Img">
                                                    </a>
                                                </div>
                                                <div class="d-flex flex-column justify-content-around">
                                                    <div class="title">
                                                        <a asp-action="Index" asp-controller="product" asp-route-category="@item.CategoryProduct.ToUrlFormat()" asp-route-id="@item.ProductId" asp-route-name="@item.EnTitle.Replace(" ","-")">@item.FaTitle</a>
                                                    </div>
                                                    <div class="price">
                                                        @if (item.MainPrice > 0)
                                                        {
                                                            if (item.PromotionPrice != item.MainPrice)
                                                            {
                                                                var disPrice = item.MainPrice - item.PromotionPrice;
                                                                <div class="col-6 pl p-1">
                                                                    <del><span>@item.MainPrice.Value.ToString("N0")<span>  تومان  </span></span></del>
                                                                </div>
                                                                <div class="col-6 pr p-1">
                                                                    <ins>
                                                                        <span>
                                                                            @if (item.PromotionPrice != null)
                                                                            {
                                                                                @item.PromotionPrice.Value.ToString("N0")
                                                                            }
                                                                            <span>  تومان  </span>
                                                                        </span>
                                                                    </ins>

                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                <div class="col-12  p-1">
                                                                    <ins><span>@item.MainPrice.Value.ToString("N0")<span>  تومان  </span></span></ins>
                                                                </div>

                                                            }

                                                        }
                                                        else
                                                        {
                                                            <div class="  col-12 p-1">
                                                                <ins>-- ناموجود --</ins>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>

                                           
                                            </section>

                                        </div>



                                    }




                                }



                            </div>
                        </div>

                    </div>
                </div>
                <div class="pagination-product">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                         
                            @for (int i = 1; i <= Model.Item4; i++)
                            {
                                <li class="page-item">
                                    <a class="page-link  js-product-pager @(i == Model.Item5 ? "active" : "")" data-type="page" data-id="@i">@i</a>
                                </li>
                            }



                        </ul>
                    </nav>
                </div>
            }
            else
            {
                <div class="no-result-container">
                    <h6>
                        <i class="fa fa-warning"></i>نتیجه‌ای یافت نشد!
                    </h6>
                    <p>
                        از عبارت‌های متداول‌تر استفاده کنید و یا املای عبارت وارد‌شده را بررسی کنید.
                    </p>
                </div>
            }

        </div>
    </div>
    <!-- FilterModal -->
    <div class="modal fade right" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="FilterModalLabel" aria-hidden="true">
        <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
            <div class="modal-content-full-width modal-content ">
                <div class=" modal-header-full-width   modal-header text-center">
                    <h5 class="modal-title w-100 search-modal-title" id="FilterModalLabel">فیلتر کردن</h5>
                    <button type="button" class="close bg-transparent text-secondary" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background-color: #f3f3f3;">
                    <div class="shop-archive-sidebar filter-panel mt-0 bg-transparent">
                        <div class="sidebar-archive mb-3">

                          
                            <section class="widget-product-categories  js-filter_box d-none">
                                <header class="cat-header">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right" data-toggle="collapse" href="#headingOne1" role="button" aria-expanded="false" aria-controls="headingOne1">
                                            فیلتر ها :
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </header>
                                <div class="product-filter">
                                    <div class="card">
                                        <div class="collapse show" id="headingOne1">
                                            <div class="card-main mb-0 c-box_item">
                                                <ul class="c-box_cat-list js-filters">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>  <section class="widget-product-categories">
                                <header class="cat-header">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right" data-toggle="collapse" href="#headingOne2" role="button" aria-expanded="false" aria-controls="headingOne2">
                                            دسته بندی محصولات
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </header>
                                <div class="product-filter">
                                    <div class="card">
                                        <div class="collapse show" id="headingOne2">
                                            <div class="card-main mb-0 c-box_item">
                                                <ul class="c-box_cat-list">
                                                    @Html.Raw(ViewData["category"])

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>


                   

                            @if (ViewData["brand"] != null)
                            {
                                <section class="widget-product-categories">
                                    <header class="cat-header">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-right" data-toggle="collapse" href="#headingTwo3" role="button" aria-expanded="false" aria-controls="headingTwo3">
                                                برند ها
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                        </h2>
                                    </header>
                                    <div class="product-filter">
                                        <div class="card">
                                            <div class="collapse  " id="headingTwo3">
                                                <div class="card-main mb-0">

                                                    @foreach (var item in ViewData["brand"] as List<Brand>)
                                                    {
                                              
                                                        <div class="form-auth-row row-option-filter">
                                                            <label for="#" class="ui-checkbox js-filter_label" data-en='@item.EnTitle' data-type="brand" data-id="@item.Id" data-fa="@item.FaTitle" for="brand @item.Id">
                                                                <input class="js-filter_checkbox" type="checkbox" data-type="brand" data-id="@item.Id" id="brand @item.Id">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">                                                    @item.FaTitle - @item.EnTitle </label>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            }
                           


                            @if ( Model.Item3 > 0)
{

<section class="widget-product-categories">
    <header class="cat-header">
        <h2 class="mb-0">
            <button class="btn btn-block text-right" data-toggle="collapse" href="#headingThree4" role="button" aria-expanded="false" aria-controls="headingThree4">
                محدوده قیمت
                <i class="mdi mdi-chevron-down"></i>
            </button>
        </h2>
    </header>
    <div class="product-filter">
        <div class="card">
            <div class="collapse  " id="headingThree4">
                <div class="card-main mb-0">
                    <div class="c-box">
                        <div class="c-filter">
                            <div class="c-box_filter-slider">
                                <div class="rangeSlider-mobile"></div>
                            </div>

                            <ul class="c-filter_range">
                                <li data-label="از" data-currency="تومان">
                                    <input type="text" class="js-slider_range-from" data-range="0" value="0" data-value="0" disabled="disabled">
                                </li>

                                <li data-label="تا" data-currency="تومان">
                                    <input type="text" class="js-slider_range-to" data-range="@Model.Item3" data-value="@Model.Item3" value="@Model.Item3" disabled="disabled">
                                </li> 
                            </ul>

                            <div class="c-filter_action">
                                <button class="c-filter_price-btn  js-filter_price-btn disabled">اعمال محدوده قیمت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}


                        </div>
                    </div>
                </div>   <div class="modal-footer" style="background-color: #f3f3f3;">
                <button type="button" class="btn-submit-filter" data-dismiss="modal" aria-label="Close">
اعمال فیلتر                </button>
                </div>

            </div>
        </div>
    </div>

    <!-- SortModal -->
    <div class="modal fade right" id="SortModal" tabindex="-1" role="dialog" aria-labelledby="SortModalLabel" aria-hidden="true">
        <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
            <div class="modal-content-full-width modal-content ">
                <div class=" modal-header-full-width   modal-header text-center">
                    <h5 class="modal-title w-100 search-modal-title" id="SortModalLabel">مرتب‌سازی بر اساس</h5>
                    <button type="button" class="close bg-transparent text-secondary" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="nav-sort-tabs-res">
                        <ul class="ul-sort-product-mobile-view sort-tabs-options" id="myTab" role="tablist">
                            <li class="nav-item  nav-item-sort  sort-active " data-id="1" data-type="sort">
                                گران‌ترین
                            </li>
                            <li class="nav-item nav-item-sort   " data-id="2" data-type="sort">
                                ارزان‌ترین
                            </li>
                            <li class="nav-item nav-item-sort   " data-id="3" data-type="sort">
                                جدیدترین
                            </li>
                            <li class="nav-item nav-item-sort   " data-id="4" data-type="sort">
                                پرفروش‌ترین
                            </li>

                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>




<script src="~/js/vendor/jquery-3.6.0.min.js"></script>
<script>
    var searchmax_price =@(Model.Item3!=null && Model.Item3 > 0 ? Model.Item3 : 0)

        $(document).ready(function () {
            $('.js-filter_checkbox').prop('checked', false);
            tofaprice()
            initialsearchpage(searchmax_price);
    })
</script>