@model ProductSearchWithFilterViewModel
@using EShop.Core.ViewModels.Product
@using EShop.DataLayer.Entities.Brand

@{
    Layout = null;
}
<style>
    .modal-backdrop.show {
        display: none !important;
    }</style>
    <!-- ---------- Shop ---------- -->
    <div class="shop-product"  id="searchupdate">
        <div class="container">
            <div class="address-bar"><div class="box-overlay"></div>
                <ul class="box-address">
                    <li class="item">
                        <a class="trs-3" href="@Url.Action("Index", "Home")">
                            خانه
                            <i class="fal fa-chevron-left"></i>
                        </a>
                    </li>
          
                        <li class="item active">
                            <h1 class="trs-3">
                                جستجوی محصولات
                            </h1>
                        </li>
                   
                   
                   
                </ul>
            </div>

            <div class="shop">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 order-2 order-lg-1  d-none d-lg-block filter-container"><div class="box-overlay"></div>
                        @await Html.PartialAsync("ProductViewPartials/_SearchSidebarProductsFilter",Model)

                    </div>
                    <div class="col-12  d-lg-none">
            <div class="header-filters">
                        <div class="advance-header">
                            <div class="box-overlay"></div>

                <button class="btn-filter btn-filter-advanced" onclick="document.getElementById('modal-search').style.display='block'">جستجوی پیشرفته</button>

            </div>
            <div class="remodal-search-advanced modal-filter" id="modal-search">
            <nav class="remodal-page-layout">
            <div class="remodal-page-header-flex">
                <button class="search-filter-remodal-close" onclick="document.getElementById('modal-search').style.display='none'">
                    <i class="fa fa-window-close" style="color: #d90268;"></i>
                </button>
                <div class="remodal-page-header">فیلتر محصولات</div>
            </div>

            <div class="remodal-page-main">
            <div class="shop-product">
            <div class="shop">
            <div class="row">
            <div class="col-xl-3 col-lg-4 order-2 order-lg-1 filter-container"><div class="box-overlay"></div>
            <div class="filter">

<div class="brand js-filter_box  d-none">
    <div class="title">
        <span>
            فیلتر ها
        </span>
    </div>
    <div class="brand-box">
        <ul class="c-box_cat-list js-filters">
        </ul>
    </div>
</div>
<div class="available">
    <div class="available-stock-switch">
        <label class="available-switch">
            <input class="available-stock-only" type="checkbox" />
            <span class="available-switch-slider round"></span>
        </label>
        <label class="available-stock-switch-text" >فقط کالاهای موجود</label>
     
    </div>
</div>
<div class="available">
    <div class="available-discounted-switch">
        <label class="discounted-switch">
            <input class="available-discounted-only" type="checkbox" />
            <span class="available-switch-slider round"></span>
        </label>   
        <label class="available-stock-switch-text">کالاهای تخفیف دار</label>

    </div>
</div>
@if (Model.SideBarData.Categories.Count > 0)
{
    <div class="brand">
        <div class="title">
            <span>
                دسته بندی محصولات
            </span>
        </div>
        <div class="brand-box">
                <div class="card-main mb-0">
                                                @foreach (var item in Model.SideBarData.Categories as List<MainCategoryFilterItem>)
                                                {

                                                    <span class='c-box_cat-span '>
                                                        <a class='c-box_cat-link c-box-parent'>
                                                            <div class='form-auth-row row-option-filter'>
                                                                <label for="#" class="ui-checkbox js-filter_label" data-en='@item.EnglishTitle.ToUrlFormat()'
                                                               data-type="catId" data-id="@item.Id" data-fa="@item.PersianTitle" for="catId @item.Id">
                                                                    <input class="js-filter_checkbox" type="checkbox" data-fa="@item.PersianTitle"
                                                                   data-type="catId" data-id="@item.Id" id="catId @item.Id">
                                                                    <span class="ui-checkbox-check"></span>
                                                                </label>
                                                                <label style="font-weight: bold;" for="remember" class="remember-me">
                                                                    @item.PersianTitle
                                                                </label>
                                                            </div>

                                                            <i class="mdi mdi-chevron-down"></i>
                                                        </a>
                                                    </span>
                                                    @if (item.SubCategory is not null && item.SubCategory.Count > 0)
                                                    {
                                                        @foreach (var subcategory in item.SubCategory)
                                                        {
                                                            <div class='form-auth-row row-option-filter'>
                                                                <label for="#" class="ui-checkbox js-filter_label" data-en='@subcategory.EnglishTitle.ToUrlFormat()'
                                                       data-type="catId" data-id="@subcategory.Id" data-fa="@subcategory.PersianTitle" for="catId @subcategory.Id">
                                                                    <input class="js-filter_checkbox" type="checkbox" data-fa="@subcategory.PersianTitle"
                                                           data-type="catId" data-id="@subcategory.Id" id="catId @subcategory.Id">
                                                                    <span class="ui-checkbox-check"></span>
                                                                </label>
                                                                <label for="remember" class="remember-me">
                                                                    @subcategory.PersianTitle
                                                                </label>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
        </div>
    </div>

}
@if (Model.SideBarData.Brands != null && Model.SideBarData.Brands.Count != 0 && !string.IsNullOrEmpty(Model.SelectedParentCategory))
{
    <div class="brand">
        <div class="title">
            <span>
                براساس برند
            </span>
        </div>
        <div class="brand-box">
            <div class="card-main mb-0">

                @foreach (var item in Model.SideBarData.Brands)
                {

                    <div class="form-auth-row row-option-filter">
                        <label for="#" class="ui-checkbox js-filter_label" data-en='@item.EnglishTitle'
                               data-type="brand" data-id="@item.Id" data-fa="@item.PersianTitle" for="brand @item.Id">
                            <input class="js-filter_checkbox" type="checkbox" data-type="brand"
                                   data-id="@item.Id" id="brand @item.Id">
                            <span class="ui-checkbox-check"></span>
                        </label>
                        <label for="remember" class="remember-me">
                            @item.PersianTitle - @item.EnglishTitle
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>

}
 

@if (@Model.SideBarData.MaxPrice > 0)
{
    <div class="pric">
        <div class="title">
            <span>
                براساس قیمت
            </span>
        </div>
        <div class="pric-box">
            <div class="c-filter">
                <div class="c-box_filter-slider">
                    <div class="rangeSlider-mobile"></div>
                </div>

                <ul class="c-filter_range">
                    <li data-label="از" data-currency="تومان">
                        <input type="text" id="min_price_value" class="js-slider_range-from" data-range="@Model.SideBarData.MinPrice.Value"
                               data-value="@Model.SideBarData.MinPrice.Value" value="@Model.SideBarData.MinPrice.Value" disabled="disabled">
                    </li>

                    <li data-label="تا" data-currency="تومان">
                        <input type="text" id="max_price_value" class="js-slider_range-to" data-range="@Model.SideBarData.MaxPrice.Value"
                               data-value="@Model.SideBarData.MaxPrice.Value" value="@Model.SideBarData.MaxPrice.Value" disabled="disabled">
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
@*<div class="color">
    <div class="title">
        <h6>
            براساس رنگ
        </h6>
    </div>

    <div class="color-box f-parent">
        <span id="color" class="color-item
                                            color-1">
            <i class="fal fa-check"></i>
        </span>
        <span id="color" class="color-item
                                            color-2">
            <i class="fal fa-check"></i>
        </span>
        <span id="color" class="color-item
                                            color-3">
            <i class="fal fa-check"></i>
        </span>
        <span id="color" class="color-item
                                            color-4">
            <i class="fal fa-check"></i>
        </span>
        <span id="color" class="color-item
                                            color-5">
            <i class="fal fa-check"></i>
        </span>
        <span id="color" class="color-item
                                            color-6">
            <i class="fal fa-check"></i>
        </span>
        <span id="color" class="color-item
                                            color-7">
            <i class="fal fa-check"></i>
        </span>
        <span id="color" class="color-item
                                            color-8">
            <i class="fal fa-check"></i>
        </span>
        <span id="color" class="color-item
                                            color-9">
            <i class="fal fa-check"></i>
        </span>
        <span id="color" class="color-item
                                            color-10">
            <i class="fal fa-check"></i>
        </span>
    </div>
</div>*@


@*<div class="button-filter">
    <a class="trs-3" href="#">
        فیلتر
    </a>
</div>*@
</div>
            </div>
            </div>
            </div>
            </div>
            </div>

            </nav>
            </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <p class="text">
                                    مرتب سازی بر اساس
                                </p>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="shop-content">
                                <div class="tabs">
                                    <ul class="tabs-nav">
                                        <li class="nav-item  nav-item-sort  sort-active " data-id="1" data-type="sort">
                                            گران‌ترین
                                        </li>
                                        <li class="nav-item nav-item-sort   " data-id="2" data-type="sort">
                                            ارزان‌ترین
                                        </li>
                                        <li class="nav-item nav-item-sort   " data-id="3" data-type="sort">
                                            جدیدترین
                                        </li>
                                        <li class="nav-item nav-item-sort   " data-id="4" data-type="sort">
                                            پرفروش‌ترین
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>

                    <div class="col-xl-9 col-lg-8 order-lg-2">
                        <div class="shop-content">
                            <div class="box-overlay"></div>

                            <div class="tabs">
                                @if (Model.Products.Any())
                                {
                                    @Html.Partial("ProductViewPartials/_ProductFilterSectionDesktop", Model)

                                    <div class="tabs-stage">
                                        <div id="tab-1" class="item-tab">
                                            @Html.Partial("ProductViewPartials/_ProductsListDesktop", Model.Products)
                                            @Html.Partial("ProductViewPartials/_ProductsPagging", Model.PaggingData)




                                        </div>

                                    </div>
                                }



                            </div>
                        </div>
    </div>


    </div>
    </div>
    </div>
    </div>




<!-- FilterModal -->
<div class="modal fade right" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="FilterModalLabel" aria-hidden="true">
    <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
        <div class="modal-content-full-width modal-content ">
            <div class=" modal-header-full-width   modal-header text-center">
                <h5 class="modal-title w-100 search-modal-title" id="FilterModalLabel">فیلتر کردن</h5>
                <button type="button" class="close bg-transparent text-secondary" data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color: #f3f3f3;">
                <div class="shop-archive-sidebar filter-panel mt-0 bg-transparent">
                    <div class="sidebar-archive mb-3">


                        <section class="widget-product-categories  js-filter_box d-none">
                            <header class="cat-header">
                                <h2 class="mb-0">
                                    <button class="btn btn-block text-right" data-toggle="collapse" href="#headingOne1" role="button" aria-expanded="false" aria-controls="headingOne1">
                                        فیلتر ها :
                                        <i class="mdi mdi-chevron-down"></i>
                                    </button>
                                </h2>
                            </header>
                            <div class="product-filter">
                                <div class="card">
                                    <div class="collapse show" id="headingOne1">
                                        <div class="card-main mb-0 c-box_item">
                                            <ul class="c-box_cat-list js-filters">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="widget-product-categories ">
                            <div class="available-stock-switch">
                                <label>نمایش کالا های موجود</label>
                                <label class="available-switch">
                                    <input class="available-stock-only" type="checkbox" />
                                    <span class="available-switch-slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="widget-product-categories ">
                            <div class="available-discounted-switch">
                                <label>نمایش کالا های تخفیف دار</label>
                                <label class="discounted-switch">
                                    <input class="available-discounted-only" type="checkbox" />
                                    <span class="available-switch-slider round"></span>
                                </label>
                            </div>
                        </div>

                        @if (Model.SideBarData.Categories != null && Model.SideBarData.Categories.Count > 0)
                        {
                            <section class="widget-product-categories">
                                <header class="cat-header">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right" data-toggle="collapse" href="#headingCategory2" role="button" aria-expanded="false" aria-controls="headingCategory2">
                                            دسته بندی محصولات
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </header>
                                <div class="product-filter">
                                    <div class="card">
                                        <div class="collapse  " id="headingCategory2">
                                            <div class="card-main mb-0">
                                                @foreach (var item in Model.SideBarData.Categories as List<MainCategoryFilterItem>)
                                                {

                                                    <span class='c-box_cat-span '>
                                                        <a class='c-box_cat-link c-box-parent'>
                                                            <div class='form-auth-row row-option-filter'>
                                                                <label for="#" class="ui-checkbox js-filter_label" data-en='@item.EnglishTitle.ToUrlFormat()'
                                                               data-type="catId" data-id="@item.Id" data-fa="@item.PersianTitle" for="catId @item.Id">
                                                                    <input class="js-filter_checkbox" type="checkbox" data-fa="@item.PersianTitle"
                                                                   data-type="catId" data-id="@item.Id" id="catId @item.Id">
                                                                    <span class="ui-checkbox-check"></span>
                                                                </label>
                                                                <label style="font-weight: bold;" for="remember" class="remember-me">
                                                                    @item.PersianTitle
                                                                </label>
                                                            </div>

                                                            <i class="mdi mdi-chevron-down"></i>
                                                        </a>
                                                    </span>
                                                    @if (item.SubCategory is not null && item.SubCategory.Count > 0)
                                                    {
                                                        @foreach (var subcategory in item.SubCategory)
                                                        {
                                                            <div class='form-auth-row row-option-filter'>
                                                                <label for="#" class="ui-checkbox js-filter_label" data-en='@subcategory.EnglishTitle.ToUrlFormat()'
                                                       data-type="catId" data-id="@subcategory.Id" data-fa="@subcategory.PersianTitle" for="catId @subcategory.Id">
                                                                    <input class="js-filter_checkbox" type="checkbox" data-fa="@subcategory.PersianTitle"
                                                           data-type="catId" data-id="@subcategory.Id" id="catId @subcategory.Id">
                                                                    <span class="ui-checkbox-check"></span>
                                                                </label>
                                                                <label for="remember" class="remember-me">
                                                                    @subcategory.PersianTitle
                                                                </label>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        }



                        @if (Model.SideBarData.Brands != null && Model.SideBarData.Brands.Count > 0)
                        {
                            <section class="widget-product-categories">
                                <header class="cat-header">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right" data-toggle="collapse" href="#headingTwo3" role="button" aria-expanded="false" aria-controls="headingTwo3">
                                            برند ها
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </header>
                                <div class="product-filter">
                                    <div class="card">
                                        <div class="collapse  " id="headingTwo3">
                                            <div class="card-main mb-0">

                                                @foreach (var item in Model.SideBarData.Brands)
                                                {

                                                    <div class="form-auth-row row-option-filter">
                                                        <label for="#" class="ui-checkbox js-filter_label" data-en='@item.EnglishTitle'
                                                       data-type="brand" data-id="@item.Id" data-fa="@item.PersianTitle" for="brand @item.Id">
                                                            <input class="js-filter_checkbox" type="checkbox" data-type="brand"
                                                           data-id="@item.Id" id="brand @item.Id">
                                                            <span class="ui-checkbox-check"></span>
                                                        </label>
                                                        <label for="remember" class="remember-me">
                                                            @item.PersianTitle - @item.EnglishTitle
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        }



                        @if (Model.SideBarData.MaxPrice > 0)
                        {

                            <section class="widget-product-categories">
                                <header class="cat-header">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right" data-toggle="collapse" href="#headingThree4" role="button" aria-expanded="false" aria-controls="headingThree4">
                                            محدوده قیمت
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </header>
                                <div class="product-filter">
                                    <div class="card">
                                        <div class="collapse  " id="headingThree4">
                                            <div class="card-main mb-0">
                                                <div class="c-box">
                                                    <div class="c-filter">
                                                        <div class="c-box_filter-slider">
                                                            <div class="rangeSlider-mobile"></div>
                                                        </div>

                                                        <ul class="c-filter_range">
                                                            <li data-label="از" data-currency="تومان">
                                                                <input type="text" class="js-slider_range-from" data-range="0" value="0" data-value="0" disabled="disabled">
                                                            </li>

                                                            <li data-label="تا" data-currency="تومان">
                                                                <input type="text" class="js-slider_range-to" data-range="@Model.SideBarData.MaxPrice" data-value="@Model.SideBarData.MaxPrice" value="@Model.SideBarData.MaxPrice" disabled="disabled">
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        }


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- SortModal -->
<div class="modal fade right" id="SortModal" tabindex="-1" role="dialog" aria-labelledby="SortModalLabel" aria-hidden="true">
    <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
        <div class="modal-content-full-width modal-content ">
            <div class=" modal-header-full-width   modal-header text-center">
                <h5 class="modal-title w-100 search-modal-title" id="SortModalLabel">مرتب‌سازی بر اساس</h5>
                <button type="button" class="close bg-transparent text-secondary" data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="nav-sort-tabs-res">
                    <ul class="ul-sort-product-mobile-view sort-tabs-options" id="myTab" role="tablist">
                        <li class="nav-item  nav-item-sort  sort-active " data-id="1" data-type="sort">
                            گران‌ترین
                        </li>
                        <li class="nav-item nav-item-sort   " data-id="2" data-type="sort">
                            ارزان‌ترین
                        </li>
                        <li class="nav-item nav-item-sort   " data-id="3" data-type="sort">
                            جدیدترین
                        </li>
                        <li class="nav-item nav-item-sort   " data-id="4" data-type="sort">
                            پرفروش‌ترین
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>
