@model IEnumerable<EShop.Core.ViewModels.Product.ProductPropertyUserViewModel>

@{
    Layout = null;
    var isFirst = true;
}

<article>

    @foreach (var item in Model.GroupBy(g => g.GroupName))
    {
        if (isFirst)
        {
            <span class="title">
               
                <h2 style="font-size: 1.25rem;">
                    @item.Key
                    </h2>
            </span>

            <ul class="specification">
                @foreach (var item2 in item.OrderBy(c => c.OrderPropertyName).ToList().GroupBy(g => g.PropertyName))
                {
                    <li class="specification-item">
                        <p class="specification-label">
                            @item2.Key
                        </p>

                        @foreach (var item3 in item2.ToList())
                        {

                            <div class="specification-value">

                                @Html.Raw(item3.PropertValue)
                            </div>

                        }
                    </li>
                }

            </ul>
         
            <a class="btn-collapse-property a-hover-1" data-toggle="collapse" href="#collapseProperty" role="button" aria-expanded="false" aria-controls="collapseProperty">
                مشاهده همه ی مشخصات
            </a>
        }


        isFirst = false;
        break;
    }
    @{
        isFirst = true;
    }
    <div class="collapse" id="collapseProperty">
        @foreach (var item in Model.GroupBy(g => g.GroupName))
        {
            if (!isFirst)
            {
                <span class="title">
                    <h2 style="font-size: 1.25rem;">
                        @item.Key
                    </h2>
                </span>

                <ul class="specification">
                    @foreach (var item2 in item.OrderBy(c => c.OrderPropertyName).ToList().GroupBy(g => g.PropertyName))
                    {
                        <li class="specification-item">
                            <p class="specification-label">
                                @item2.Key
                            </p>
                            <div class="specification-value">

                            @foreach (var item3 in item2.ToList())
                            {


                                    @Html.Raw(item3.PropertValue)


                                }
                            </div>
                        </li>
                    }

                </ul>
              

            }

            isFirst = false;
        }
        <a class="btn-collapse-property2" data-toggle="collapse" href="#collapseProperty" role="button" aria-expanded="false" aria-controls="collapseProperty">
            نمایش کمتر
        </a>
    </div>

</article>

 