@using EShop.DataLayer.Enum
@using EShop.Core.Helpers
@model IEnumerable<EShop.DataLayer.Entities.Order.PaymentDetail>

@{
    ViewData["Title"] = "لیست پرداختی ها";
    Layout = null;
    int pagecount = (int)Math.Ceiling((double)ViewBag.count / 15);
    int pagenumber = ViewBag.PageNumber;
}

<table class="table table-striped table-bordered table-responsive-sm table-configuration">
    <thead>
    <th>
        کد پرداخت
    </th>
    <th>
        کد سفارش
    </th>
    <th>
        (تومان) مبلغ
    </th>
    <th>
        تاریخ
    </th>
    <th>
        زمان
    </th>
    <th>
        refId
    </th>
    <th>
        کد تراکنش
    </th>
    <th>
        پیغام بانک
    </th>
    <th>
        شماره کارت
    </th>
    <th>
        وضعیت
    </th>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var paymentStatus = "";
            if (item.PaymentStatus > 0)
            {
                paymentStatus = EnumHelper<EnumPaymentStatus>.GetDisplayValue(item.PaymentStatus);
            }
            var paymentStatusStyle = "";
            if (item.PaymentStatus == EnumPaymentStatus.Pay)
            {
                paymentStatusStyle = "text-success";
            }
            else if (item.PaymentStatus == EnumPaymentStatus.Wait)
            {
                paymentStatusStyle = "text-primary";

            }
            else
            {
                paymentStatusStyle = "text-danger";

            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @{
                        var price = item.Price / 10;
                    }
                    @price.ToString("N0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrDatePay)
                </td>
                <td>
                    @if (item.DatePay != null)
                    {
                        @item.DatePay.Value.ToLongTimeString()
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleReferenceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankCodeMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardHolderPAN)
                </td>
                <td class="font-weight-bold @paymentStatusStyle">
                    @paymentStatus
                </td>


            </tr>
        }
    </tbody>
</table>
<div class="col-12 text-center" id="paymentlist">
    @(pagecount > 1 ? Html.Raw(pagecount.GetPaging(pagenumber, "js-pager-item")) : Html.Raw(""))

</div>


<script>
    $('#paymentlist').delegate(".js-pager-item", "click", function () {
        debugger ;
        var pagenum = parseInt($(this).data("pagenumber"))
        $.ajax({
            type: 'GET',
            url: '/order/PaymentList',
            data: { RefId: $("#RefId").val(), PSDate: $("#PSDate").val(), PEDate: $("#PEDate").val(), OrderId: $("#OrderId").val() , PageNumber: pagenum },
            success: function (res) {
                $("#list").html(res);
            }
        })
    });

</script>
